<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RouteMapperPS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>024390D523D6C5D0008478CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>024390EB23D6C5D2008478CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>024390F623D6C5D2008478CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
